.hero {
  margin-bottom: 0;
}

.hero-img {
  height: 400px;
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.hero-footer {
  height: 400px;
  background: url(../img/hero-footer-mobile.jpg) no-repeat;
  background-size: cover;
}

.hero h2 {
  margin: 0;
  padding: 88px 24px;
  text-align: center;
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px; /* 160% */
}
/* Pacotes de viagem */
.travel-packages {
  margin-bottom: 88px;
}

.travel-packages.hero-content {
  padding: 76px 0;
}

.travel-packages .hero-img {
  height: 460px;
  background: url(../img/travel-packages/japan-bg-hero-mobile.png) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 24px;
}

.travel-packages.hero-footer {
  height: 460px;
  background: url(../img/travel-packages/japan-bg-bottom-hero-mobile.jpg)
    no-repeat;
  background-size: cover;
  margin-bottom: 0;
}

.travel-packages .hero-content h1 {
  margin: 0;
  font-size: 48px;
  font-weight: var(--title-weight);
  color: var(--text-secondary-color);

  margin-bottom: 16px;
}

.travel-packages .hero-content p {
  font-size: 20px;
  line-height: 32px;
  color: var(--text-secondary-color);
  margin-top: 32px;
}

.travel-packages .hero-content hr {
  margin: 0;
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .hero-footer {
    background: url(../img/hero-footer-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
    line-height: 48px; /* 160% */
  }

  /* Pacotes de viagem */

  .travel-packages .hero-content {
    padding: 194px 0;
  }

  .travel-packages .hero-content p {
    font-size: 24px;
    line-height: 36px;
  }

  .travel-packages .hero-img {
    height: 620px;
    background: url(../img/travel-packages/japan-bg-hero-tablet.png) no-repeat;
    background-size: cover;
    padding: 0 60px;
  }
  .travel-packages.hero-footer {
    height: 620px;
    background: url(../img/travel-packages/japan-bg-bottom-hero-tablet.jpg)
      no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .hero-footer {
    height: 600px;
    background: url(../img/hero-footer-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 104px 120px;
  }

  /* Pacotes de viagem */
  .travel-packages .hero-content {
    width: 500px;
    padding: 168px 0;
  }

  .travel-packages .hero-img {
    height: 620px;
    background: url(../img/travel-packages/japan-bg-hero-desktop.png) no-repeat;
    background-size: cover;
    padding: 0 60px;
  }
  .travel-packages.hero-footer {
    height: 620px;
    background: url(../img/travel-packages/japan-bg-bottom-hero-desktop.jpg)
      no-repeat;
    background-size: cover;
  }
  .travel-packages .hero-content p {
    font-size: 32px;
    line-height: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .hero h2 {
    padding: 104px 160px;
  }

  .travel-packages .hero-img {
    padding: 0 120px;
  }
}
