.payments .image-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  height: 460px;
  margin-top: 24px;
}

.payments .image.first {
  background: url(../img/bage-mobile.jpg) no-repeat center center;
  background-size: cover;
  height: 254px;
}

.payments .image.second {
  background: url(../img/passport-mobile.jpg) no-repeat center center;
  background-size: cover;
  height: 254px;
}

.payments .image.third {
  grid-column: span 2;
  background: url(../img/people-mobile.jpg) no-repeat center center;
  background-size: cover;
  height: 182px;
}

/* Pacotes de viagem */
.travel-packages .image.first {
  background: url(../img/travel-packages/gallery1-mobile.jpg) no-repeat center
    center;
  background-size: cover;
  height: 254px;
}

.travel-packages .image.second {
  background: url(../img/travel-packages/gallery2-mobile.jpg) no-repeat center
    center;
  background-size: cover;
  height: 254px;
}

.travel-packages .image.third {
  background: url(../img/travel-packages/gallery3-mobile.jpg) no-repeat center
    center;
  background-size: cover;
  height: 182px;
}

.travel-packages .text-content h2 {
  font-size: 40px;
  font-weight: var(--title-weight);
}

@media screen and (min-width: 768px) {
  .payments .image.first {
    background: url(../img/bage-tablet-desk.jpg) no-repeat center center;
    background-size: cover;
  }

  .payments .image.second {
    background: url(../img/passport-tablet-desk.jpg) no-repeat center center;
    background-size: cover;
  }

  .payments .image.third {
    background: url(../img/people-tablet-desk.jpg) no-repeat center center;
    background-size: cover;
  }

  /* Pacotes de viagem */
  .travel-packages .image.first {
    background: url(../img/travel-packages/gallery1-tablet-desk.jpg) no-repeat
      center center;
    background-size: cover;
  }

  .travel-packages .image.second {
    background: url(../img/travel-packages/gallery2-tablet-desk.jpg) no-repeat
      center center;
    background-size: cover;
  }

  .travel-packages .image.third {
    background: url(../img/travel-packages/gallery3-tablet-desk.jpg) no-repeat
      center center;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .payments {
    display: grid;
    grid-template-columns: 384px 1fr;
    column-gap: 24px;
  }
  .payments .text-content {
    padding: 0;
  }
  .payments .payments-title {
    grid-column: span 2;
    padding: 0;
  }

  .travel-packages .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
